.newsletter,
.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter form > * {
  width: 200px;
  border: none;
  padding: 15px;
}

.newsletter button {
  background-color: #d29b94;
}
