.sliderDetail {
  padding: 2rem 0;
  width: 100%;
}

.centerText {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sliderWindow {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.imgBelt {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.imgCard {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
}
.imgCard div {
  width: 100%;
}
